* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

header {

    min-height: 60px;
}

footer {
    background: rgba(0, 194, 146, 1);
    min-height: 90px;
}

.wrapper {
    min-height: 800px;
    background: #fff;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-x {
    display: flex;
    justify-content: center;
}

.flex-center-y {
    display: flex;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

.size-12 {
    font-size: 12px;
}
.size-13 {
    font-size: 13px;
}
.size-18 {
    font-size: 18px;
}
.size-17 {
    font-size: 17px;
}
.size-16 {
    font-size: 16px;
}

.form-check-inline label {
    line-height: 1;
    display: inline-flex;
}

/* ============================================================== */


.cols--2>h5:first-child {

    font-weight: 700;
}

.cols--2>h5 {
    font-size: 14px;
}

.cols--1,
.cols--2,
.cols--3 {
    min-height: 40px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.cols--1 p,
.cols--2 h5,
.cols--3 p {
    line-height: 1;
}

.cols--1 {
    width: 17%;
    padding-left: 3%;
}

.cols--2 {
    width: 63%;
    padding-left: 3%;
    border-left: 1px solid #fff;
}

.cols--3 {
    width: 20%;
}



/* ============================================================== */


.offcanvas-header {
    display: none;
}

.top__menu {
    height: 35px;
}

.bottom__header {
    background: rgba(0, 194, 146, 1);
    min-height: 60px;
}

.top__menu ul.navbar-nav.w-100 a {
    color: #000;
}


.custom--navbar {}


/* ============================================================== */

/* Dropdown */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #000;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

/* ============================================================== */

.cols--menu {
    transition: 0.5s;
    min-height: 800px;
    background: rgba(85, 85, 85, 1);
    position: relative;
    width: 100%;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    max-width: 60px;
}

.cols--body {
    transition: 0.5s;
    min-height: 800px;
    /* background: rgb(218, 218, 218); */
    background: #fff;
    position: relative;
    width: 100%;
    -ms-flex: 0 0 calc(100% - 60px);
    flex: 0 0 calc(100% - 60px);
    max-width: calc(100% - 60px);
}

.cols--menu.activeMenu {
    transition: 0.5s;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    max-width: 200px;
}

.cols--body.activeMenu {
    transition: 0.5s;
    -ms-flex: 0 0 calc(100% - 200px);
    flex: 0 0 calc(100% - 200px);
    max-width: calc(100% - 200px);
}

.btn--not-bg {
    z-index: 999;
}

.btn--not-bg>i.fas {
    font-size: 19px;
}

.coltrol--menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    transition: 0.5s;
}

.coltrol--menu.activeMenu {
    transition: 0.5s;
    transform: rotate(180deg);
}

/* ============================================================== */

.select2-selection.select2-selection--multiple {
    max-height: 31px !important;
 }

/* ============================================================== */
/* ============================================================== */
/* ============================================================== */
/* ============================================================== */
/* ============================================================== */
/* ============================================================== */
/* ============================================================== */



@media (max-width: 1200px) {
    .offcanvas-header {
        display: block;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: black;
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }

    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }

    .top__menu {
        height: fit-content;
        ;
    }

    .top__menu ul.navbar-nav.w-100 a, .top__menu ul.navbar-nav.w-100 a:hover, .top__menu ul.navbar-nav.w-100 a:focus, .top__menu ul.navbar-nav.w-100 li.active a {
        color: #fff;
    }

}