/* ============================================================== */


.search-box {
    background-image: url('../img/bg-header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}



.search-box .input-box>h3 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}

.search-box .input-box {
    flex-direction: column;
    ;
}

.search-box .input-box .input-group input {
    height: 50px;
}

.search-box .input-box .input-group {
    width: 500px;
}

.search-box .input-box .input-group .fas {
    font-size: 25px;
    color: #7f7f7f;
}

.search-box .input-box>.btn {
    background: #e84a06;
    height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 21px;
}


/* ============================================================== */

.carousel__category {
    min-height: 185px;
}

.carousel--box {
    min-height: 150px;

    position: relative;
    width: 14.28%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 14.28%;
    max-width: 14.28%;

    flex-direction: column;
}

.carousel--img {
    width: 100px;
    height: 100px;
}

.carousel--text {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #203864;
}



/* ============================================================== */

.thongso__chitiet {
    min-height: 120px;
    display: flex;

}

.ax__default {
    width: 70px;
    min-height: 80px;
    flex-direction: column;
    position: relative;
}

.ax__custom {
    width: fit-content;
    min-height: 80px;
    flex-direction: column;
    position: relative;

    margin-left: 35px;
}




.ax__default .box--1,
.ax__default .box--2 {
    border-width: 0px;
    width: 48px;
    height: 40px;
    display: flex;
    color: #548235;

}

.ax__default .box--2 {
    margin-top: 7px;
}



.ax__default .box--1>div {
    width: 48px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(3, 22, 59, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #548235;
}

.ax__default .box--1>div::after {
    content: "";
    width: 38px;
    height: 35px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(3, 22, 59, 1);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #548235;

    display: block;
    margin: 7px auto 0;
}

.ax__default .box--2>div {
    width: 48px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(3, 22, 59, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #548235;
}

.ax__default .box--2>div::after {
    content: "";
    width: 38px;
    height: 35px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(3, 22, 59, 1);
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #548235;

    display: block;
    margin: -3px auto 0;
}

.ax__text {
    color: #203864;
    font-size: 20px;
    font-weight: 700;
}

.ax__value {
    display: flex;
    font-size: 75px;
    color: #03163B;
    position: absolute;
    top: 0;
    line-height: 1;
}

.w-60px {
    width: 60px;
}

.thongke--box {
    flex-direction: column;
    min-height: 390px;
    background: rgba(242, 242, 242, 1);
}

.thongke--box>h3 {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #203864;
}

.thongke--box__content {
    font-size: 28px;
    color: #203864;
    text-align: center;
    margin: 20px 0;
    padding: 0 120px;
}